xml解析/XML/fanxh.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.example.org/fanxh" 
		xmlns:tns="http://www.example.org/fanxh" 
		elementFormDefault="qualified">
		
		<element name="persons">
			<complexType>
				<sequence>
					<element name="person">
						<complexType>
							<sequence>
								<element name="name" type="string"></element>
								<element name="age" type="int"></element>
								<element name="sex" type="string"></element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
		</element>
</schema>